@{
    ViewData["Title"] = "Tippek";
}
<h2>Hasznos tippek a nyelvtanuláshoz</h2>
<ul>
    <li>Gyakorolj naponta legalább 15 percet!</li>
    <li>Használj nyelvtanuló alkalmazásokat!</li>
    <li>Olvass és nézz videókat az adott nyelven!</li>
</ul>
