@using Lingarix_Database.Entities
@model List<UserLevels>


<h2>Szint és XP</h2>
<ul>
    @foreach (var levels in Model)
    {
        <li>Szint: @levels.Level</li>
        <li>XP: @levels.Experience</li>
    }
</ul>
