@* @model

@{
    ViewData["Title"] = "Ranglista";
}

<h3></h3>
<table>
    <tr>
        <th>Felhasználónév</th>
        <th>Pontszám</th>
    </tr>
    @foreach (var stat in Model)
    {
        <tr>
            <td>@stat.Username</td>
            <td>@stat.Score</td>
        </tr>
    }
</table>
 *@