@model 

@{
    ViewData["Title"] = "Statisztika";
}

<h2>Üdvözöllek, @Context.Session.GetString("UserName")!</h2>
<h3>Napi Statisztikáid:</h3>
<table>
    <tr>
        <th>Dátum</th>
        <th>Pontszám</th>
    </tr>
    @foreach (var stat in Model)
    {
        <tr>
            <td>@stat.Date.ToShortDateString()</td>
            <td>@stat.Score</td>
        </tr>
    }
</table>
