@{
    ViewData["Title"] = "Bejelentkezés";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Külső CSS Példa</title>
    <link rel="stylesheet" href="~/css/SajatCSS.css">
</head>
<!--HTML kód része-->
<h1>@ViewData["Title"]</h1>
@using (Html.BeginForm("Login", "Account"))
{
    <label>Felhasználónév:</label>
    <input type="text" name="username" />
    <br />

    <label>Jelszó:</label>
    <input type="password" name="password" />
    <br />
    <hr />

    <!-- CAPTCHA -->
    @* <div class="cap">
        <h3> Captcha Code </h3>
        <div class="captchacode">
            <form name="form1">
                <input type="text" id="captchaTxtArea" name="text" value="" />
                <br />
                <input type="text" id="CaptchaEnter" name="CaptchaInput" placeholder="Adja meg a kódot" required />
                <br />
                <br />
                <input type="button" value="Frissítés" id="refreshbtn" onclick="genNewCaptcha()" />
                <input type="button" value="Ellenőrzés" id="checkbtn" onclick="checkCaptcha()" />
            </form>
        </div>
    </div> *@
    <input type="submit"/>
}

<!-- Külső js -->
<!-- wwwroot/js/Captcha.js    mappában van-->
<script src="~/js/Captcha.js"></script>