@using Nyelvtanulas.Models
@model User

<h2>Regisztráció</h2>
    <form asp-action="Register" method="post">
        <input asp-for="FullName" placeholder="Teljes név" required />
        <input asp-for="Username" placeholder="Felhasználónév" required />
        <input asp-for="Email" placeholder="E-mail" required />
        <input asp-for="PasswordHash" type="password" placeholder="Jelszó" required />
        <button type="submit">Regisztráció</button>
    </form>
<h1>CAPTCHA Ellenőrzés</h1>

<div class="cap">
    <div class="container">
        <form id="captchaForm">
            <input type="text" id="captchaTxtArea" readonly>
            <br />
            <input type="text" id="CaptchaEnter" placeholder="Enter the captcha code">
            <br />
            <input type="button" value="REFRESH" id="refreshbtn" onclick="genNewCaptcha()">
            <input type="button" value="CHECK" id="checkbtn" onclick="checkCaptcha()">
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/captcha.js"></script>
}

