@using Nyelvtanulas.Models
@model User
<head>
    <script src="https://www.google.com/recaptcha/api.js?render=6LeTpc4qAAAAAO40xdkyQ3K6DduAE4UmnjiYVDh-"></script>
</head>

<h2>Regisztráció</h2>
    <form asp-action="Register" method="post" id="myForm">
        <h3>Adja meg a teljes nevét: </h3>
            <input type="text" name="FullName" placeholder="Teljes név" required />
        <h3>Adja meg a felhasználónevét: </h3>
            <input type="text" name="UserName" placeholder="Felhasználónév" required />
        <h3>Adja meg az email címét: </h3>
            <input type="email" name="Email" placeholder="E-mail" required />
        <h3>Adja meg a jelszavát: </h3>
	        <input type="password" name="password" placeholder="Jelszó" required />
        <br />
        <br />
        <button type="submit">Regisztráció</button>
    </form>

<h2>CAPTCHA Ellenőrzés</h2>
<!-- Google reCAPTCHA form -->

<form method="post" id="myForm">
    <input type="submit" value="Submit" />
</form>

<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('6LeTpc4qAAAAAO40xdkyQ3K6DduAE4UmnjiYVDh-', { action: 'submit' }).then(function (token) {
            // Token hozzáadása a formhoz
            var form = document.getElementById('myForm');
            var input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'g-recaptcha-response';
            input.value = token;
            form.appendChild(input);
        });
    });
</script>




