<a href="file://C:/Nyelvtanulo/KonzolosApp.exe">Tanulás megkezdéséhez kattints ide!</a>
<!-- a linkbe majd a konzolos app elérése kell-->

<h2>Napi statisztikád</h2>
<ul>
    @foreach (var line in Model)
    {
        <li>@line</li>
    }
</ul>
