body {
    margin-bottom: auto;
    background-color: rgb(173, 216, 230);
    text-align: left;
    margin: 0;
    padding: 0;
}

hr {
    border: none;
    border-top: 3px solid #1c2939;
    width: 80%;
    margin: 20px auto;
}

/*Login és Register.cshtml CSS*/
#myForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 500px;
}

h3 {
    text-align: left;
    margin-left: 0;
}

input[type="text"],
input[type="password"],
#CaptchaEnter {
    text-align: left;
}

/*CAPTCHA*/
#cap {
    height: 250px;
    text-align: left;
}

.captchacode {
    margin-top: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: white;
    width: 100%;
    border-radius: 20px;
}

#captchaTxtArea {
    background-image: url("../images/cap.jpg");
    color: #FF4500;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
    border: 2px solid black;
    margin-top: 15px;
    width: 150px;
    text-align: center;
}

#CaptchaEnter {
    margin-top: 15px;
    width: 303px;
    height: 50px;
    border: 2px solid black;
    font-size: 24px;
    text-align: left;
}

    #CaptchaEnter::placeholder {
        color: black;
        font-size: 24px;
        text-align: center;
    }

#refreshbtn,
#checkbtn {
    background-color: darkblue;
    color: white;
    width: 100px;
    height: 30px;
    border: 2px solid black;
    font-weight: bold;
    margin-top: 10px;
    display: float;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    text-align: center;
}
