 html {
    font-size: 14px;
}

body {
    background-color: #ADD8E6;
}

.custom-card {
    background-color: #F0F8FF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tip-box {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.highlight-text {
    color: #007bff;
    font-weight: bold;
}

.benefit-card {
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: linear-gradient(135deg, #dfe9f3, #ffffff);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/*Regisztrációs gomb*/
.cta-button {
    display: inline-block;
    background: #0077b6;
    color: #ffffff;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.cta-button:hover {
    background: #005f8a;
    transform: scale(1.1);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

/*Index.cshtml*/
#logo {
    max-width: 200px;
    display: block;
    margin: 0 auto 20px;
}

#intro {
    text-align: center;
}

.content-box {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.highlight-box {
    background-color: rgb(95, 143, 158);
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
@media (min-width: 768px) 
{
  html {
    font-size: 16px;
  }
}

.btn:focus, 
.btn:active:focus, 
.btn-link.nav-link:focus, 
.form-control:focus, 
.form-check-input:focus 
{
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html 
{
  position: relative;
  min-height: 100%;
}

footer 
{
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    box-sizing: border-box;
    text-align: center;
}

footer p 
{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.custom-button 
{
    display: inline-block;
    background-color: #007bff;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: none;
    opacity: 1; 
}

.custom-button:hover 
{
    background-color: #0056b3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.custom-img {
    max-width: 48%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
