@{
    ViewData["Title"] = "Rólunk";
}
<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body class="bg-primary-subtle">
    <div class="container mt-4">
        <div class="text-center mb-4">
            <h1 class="display-4">Rólunk</h1>
            <hr />
        </div>

        <div class="content-box">
            <p class="fs-6">
                A program fő célja a különböző nyelvek elsajátítása. Magyarországon jelenleg is igen nagy problémát jelent az idegen nyelvek tudásának hiánya,
                ezért próbáltunk egy játékosabb külsőt adni neki, hogy akár gyerekek is könnyedén használhassák. Így született meg a <strong>Lingarix</strong>,
                amely segít elérhetővé tenni a tanulás örömét mindenki számára.
            </p>
            <p class="fs-6">
                Programunkkal szeretnénk elősegíteni a nyelvtanulás folyamatát és elterjedését. A rendszer egy konzolos és egy webes felületből áll,
                melyek közös adatbázissal működnek együtt.
            </p>
        </div>
        <hr />
        <div class="mb-5">
            <div class="image-container">
                <img id="PMH" src="~/images/ES4A7660.jpg" alt="Páll Márk Hunor" title="Páll Márk Hunor">
                <img id="GBV" src="~/images/ES4A7776.jpg" alt="Gunics Bettina Virág" title="Gunics Bettina Virág">
            </div>
            <h2 class="text-primary">Fejlesztők:</h2>
            <div class="text-with-images">
                <ol>
                    <li><strong>Gunics Bettina Virág</strong> – az MVC weboldal és az adatbázis megvalósítása</li>
                    <li><strong>Páll Márk Hunor</strong> – a konzolos felület teljes fejlesztése</li>
                </ol>
            </div>
            <h2 class="text-primary">Közös munka:</h2>
            <div class="text-with-images">
                <ul>
                    <li>különböző feladatok megtervezése</li>
                    <li>a logónk elkészítése</li>
                    <li>a nevünk kitalálása <strong>Lingarix - a nyelvtanuló program</strong></li>
                    <li>az adatbázis kitalálása és megtervezése</li>
                </ul>
            </div>
        </div>

        <div>
            <h3>Továbbfejlesztési lehetőségek:</h3>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-2">
	            <div class="col">
    		            <div class="benefit-card">
        		            <h5 class="text-primary">🎙 Hangalapú játék beépítése a konzolos alkalmazásba</h5>
    		            </div>
	            </div>
	            <div class="col">
    		            <div class="benefit-card">
        		            <h5 class="text-danger">🌍 Több nyelv tanulási lehetősége</h5>
    		            </div>
	            </div>
	            <div class="col">
    		            <div class="benefit-card">
        		            <h5 class="text-success">🏆 Szintek és badgek hozzárendelése különböző eredményekhez</h5>
    		            </div>
	            </div>
	            <div class="col">
    		            <div class="benefit-card">
        		            <h5 class="text-warning">🤝 Több játékos egyidejű játéka, multiplayer módban, egymás ellen</h5>
    		            </div>
	            </div>
            </div>
        </div>
    </div>
</body>
</html>