@{
    ViewData["Title"] = "Főoldal";
}

<div class="text-left">
    <h1 class="display-4">Köszöntünk oldalunkon!</h1>
    <h1 class="display-4">Lingarix - a nyelvtanuló program</h1>
    <h2>
        majd kő ide valami oszt mi?

    </h2>
    

</div>
