@{
    ViewData["Title"] = "Kijelentkezés";
}
<style>
    img{
        align-content:center;
    }
</style>
<div class="text-left">
    <h1 class="display-4">Lingarix - a nyelvtanuló program</h1>
    <h2 class="display-4">Köszönjük, hogy minket választott!</h2>
    <img src="~/images/logo.png" alt="Lingarix logó" width="250px" title="Lingarix logó">

</div>